@(series: List[Serie])

@main("TVShow List") {
    <html xmlns="http://www.w3.org/1999/html">
        <head>
            <title>Minhas Series</title>
            <meta charset="UTF-8">
            <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
            <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/myjs.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/inputvalidator.js")"></script>
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        </head>
        <body>
            <div class="container">
                <div class="page-header">
                    <h1 class="text-info">TVShow List
                        <small>O jeito mais fácil de organizar suas séries. </small>
                    </h1>
                </div>
                <br>


                <div class="col-md-6" id="criaMeta">
                    <section class="panel panel-info">
                        <header class="panel-heading">
                            <h2 class="panel-title">Séries Disponíveis</h2>
                        </header>
                        <div class="panel-body">
                            Clique no nome da série que você deseja marcar como assistida.<br><br>
                        @for(serie <- series){
                            @if(!serie.isAssistindo){
                                <div id="accordion" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" >
                                            <h4 class="panel-title">
                                                @serie.getNome
                                                <form class="pull-right" action="@routes.Application.assistirSerie(serie.getId)" method="post">
                                                    <button class="btn btn-success"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                                                </form>
                                            </h4><br/>
                                        </div>
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        </div>


                    </section>  </div>

            <div class="col-md-6">
                    <section class="panel panel-success">
                        <header class="panel-heading">
                            <h2 class="panel-title">Séries Assistidas</h2>
                        </header>
                    <div class="panel-body">

                    @for(serie <- series) {
                        @while(!serie.isAssistindo){
                            Você ainda não assistiu a nenhuma série.<br>
                        }
                        @if(serie.isAssistindo) {
                            <div id="accordion" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading" >
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@serie.getNome.split(" ") @serie.getId">@serie.getNome</a>
                                        </h4>
                                        <br/>
                                    </div>
                                    <div id="@serie.getNome.split(" ") @serie.getId" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        @for(temporada <- serie.getTemporadas) {
                                            <div id="accordion" class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@temporada.getId @temporada.getSerie.getNome.split(" ")">@temporada.getNumero
                                                                Temporada - @temporada.getQuantidadeDeEpisodiosAssistidos/@temporada.getTotalDeEpisodios</a>
                                                        </h4>
                                                        <br/>
                                                    </div>
                                                    <div id="@temporada.getId @temporada.getSerie.getNome.split(" ")" class="panel-collapse collapse">
                                                        <div class="panel-body">

                                                            @for(episodio <- temporada.getEpisodios) {
                                                                @if(episodio.isAssistido) {
                                                                    <br>
                                                                        <del> <span class="glyphicon glyphicon-play" aria-hidden="true"></span>@episodio.getNome</del>

                                                                    <br/>
                                                                } else {
                                                                    <br>
                                                                        @if(temporada.ehOProximoASerAssistido(episodio.getId)) {
                                                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>@episodio.getNome (PRÓXIMO)
                                                                        } else {
                                                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>@episodio.getNome
                                                                        }
                                                                        <form class="pull-right" action="@routes.Application.assistirEpisodio(episodio.getId)" method="post" >
                                                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                                        </form>
                                                                    <br/>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }

                    </section></div></div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        </body>

    </html>
}




